.basket-drawer-ordering {
  padding: 6px;
  font-size: 17px;
  font-weight: 400;
  border: 0;
  background-color: #2B6CB0;
  border-radius: 4px;
  color: white;
  height: 40px;
  cursor: pointer;
}
.basket-drawer-ordering:hover {
  background-color: #215387;
  cursor: pointer;
}
.basket-drawer-review {
  padding: 6px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 400;
  border: 0;
  background-color: white;
  color:#2D3748;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
}
.basket-drawer-review:hover {
  color: #0693e3;
}
.checkout-orders-coupon-button {
  margin-bottom: 17px;
  padding: 7px 17px;
  font-size: 17px;
  font-weight: 400;
  border: 0;
  background-color: #2B6CB0;
  border-radius: 4px;
  color: white;
  height: 40px;
  cursor: pointer;
  width: 176px;
}
.checkout-orders-coupon-button:hover {
  background-color: #215387;
  cursor: pointer;
}
.checkout-sum-order-button {
  margin-top: 32px;
  margin-bottom: 17px;
  padding: 6px;
  font-size: 17px;
  font-weight: 400;
  border: 0;
  background-color: #2B6CB0;
  border-radius: 4px;
  color: white;
  height: 40px;
  cursor: pointer;
  width: 100%;
}
.checkout-sum-order-button:hover {
  background-color: #215387;
  cursor: pointer;
}
.product-bascet-button {
  height: 42px;
  line-height: 40px;
  padding: 0 13px;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  background-color: #2b6cb0;
  border: 0;
}
.product-article {
  color: rgb(113, 128, 150);
  font-size: 11px;
  font-weight: 700;
}